
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000; /* Background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    max-width: 600px;
    background: rgba(48, 46, 45, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff; 
}
h1 {
    font-size: 2.5em; /* Adjust the font size as needed */
}

.tweak {
    color: #2850EA; /* Color for the 'P' and 'M' */
}

.options {
    margin-top: 20px; /* Adjust the margin as needed */
}

.option {
    padding: 10px 20px; /* Adjust the padding as needed */
    background-color: #EDEDED; /* Button background color */
    color: #000000; /* Button text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    margin: 0 10px; /* Adjust the margin as needed */
    cursor: pointer;
}

.option:hover {
    background-color: rgba(59, 153, 233, 0.7);/* Button background color on hover */
}
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.options .option {
            margin-bottom: 30px; /* Add margin between each button */
        }
