
body, html {
    height: 100%;
    margin: 0;
}

#particles-js {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Behind the content */
}

.container {
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* Center horizontally */
    z-index: 1; /* On top of particles container */
    position: relative;
}

/* Additional styling for the content inside the container */
.container h1 {
    text-align: center;
}

.options-container {
    text-align: center;
}

