
/* Particle Animation */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensure particles are behind other content */
    background-color: #caf0f8;
}

