
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>

<div id="container">
<button class="backbutton" onclick="goBack()">Back</button>
    <div class="heading">
        <h1 class="caption"><span class="tweak">A</span>ccess <span class="tweak">P</span>assword</h1>
    </div>
    {% if message %}
    <div class="alert alert-info" role="alert">
        <h3>Passwords:</h3>
        {% for sublist in message %}
        <button class="accordion">{{ sublist[0] }}</button>
        <div class="panel">
            {% for item in sublist[1:] %}
            <div>
                <input type="text" readonly value="{{ item }}">
                <button class="copy-btn">Copy</button>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div>
        <button onclick="goBack()" class="btn btn-primary">Back</button> <!-- Back button -->
    </div>
</div>

<div id="particles-js"></div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="{{url_for('static',filename='javascript/particle.js')}}"></script>
<script src="{{url_for('static',filename='javascript/panels.js')}}"></script>

<script>
    // Get all buttons with class "accordion"
    var accordions = document.querySelectorAll('.accordion');

    // Loop through each button and add a click event listener
    accordions.forEach(function(accordion) {
        accordion.addEventListener('click', function() {
            // Toggle the class "active" to highlight the button
            this.classList.toggle('active');

            // Toggle the next sibling element (which is the panel)
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    });

    // Get all buttons with class "copy-btn"
    var copyButtons = document.querySelectorAll('.copy-btn');

    // Loop through each button and add a click event listener
    copyButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            // Get the input field next to the clicked button
            var inputField = this.previousElementSibling;

            // Select the text in the input field
            inputField.select();

            // Copy the selected text to the clipboard
            document.execCommand('copy');
        });
    });

    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>

