
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>

<div id="container">
    <div class="heading">
        <h1 class="caption"><span class="tweak">A</span>ccess <span class="tweak">P</span>assword</h1>
    </div>
    {% if message %}
            <div class="alert alert-info" role="alert">
                <h3>Passwords:</h3>
                {% for sublist in message %}
                    <ul>
                        {% for element in sublist %}
                            <li>{{ element }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        {% endif %}  
      <div>
        <form action="" class="controls">
            <div id="dynamic-panels">
            </div>
        </form>
    </div>
    <button onclick="goBack()" class="btn btn-primary">Back</button> <!-- Back button -->
</div>

<div id="particles-js"></div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="{{url_for('static',filename='javascript/particle.js')}}"></script>
<script src="{{url_for('static',filename='javascript/panels.js')}}"></script>

<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>

