
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website Details</title>
    <style>
            </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

</head>
<body>

<h2>Website Details</h2>

<button class="accordion">Website 1</button>
<div class="panel">
    <p>URL: <a href="#">www.website1.com</a></p>
    <p>Username: user1</p>
    <p>Password: password1</p>
</div>

<button class="accordion">Website 2</button>
<div class="panel">
    <p>URL: <a href="#">www.website2.com</a></p>
    <p>Username: user2</p>
    <p>Password: password2</p>
</div>

<button class="accordion">Website 3</button>
<div class="panel">
    <p>URL: <a href="#">www.website3.com</a></p>
    <p>Username: user3</p>
    <p>Password: password3</p>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>

</body>
</html>

