


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Password</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/addpassword.css')}}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Add Password</h1>
        </header>
        <main>
            <form action="/add" method="POST">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <label for="url">Url:</label>
                <input type="url" name="url" id="url">
                <button type="submit">Add</button>
            </form>
        </main>
    </div>
</body>
<div id="particles-js"></div></body>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{{url_for('static',filename='javascript/particle.js')}}"></script>

</html>
