
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Sublist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1>Edit Sublist</h1>
    <form action="{{ url_for('edit_sublist', sublist_index=sublist_index) }}" method="POST">
        {% for item in sublist[1:] %}
        <div class="form-group">
            <label for="item{{ loop.index }}">Item {{ loop.index }}:</label>
            <input type="text" class="form-control" id="item{{ loop.index }}" name="items" value="{{ item }}">
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <a href="{{ url_for('index') }}" class="btn btn-default">Cancel</a>
</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</body>
</html>
