<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/homepagestyle.css')}}">
</head>
<body>
   
<div class="container">
  <h1><span class="tweak">P</span>assword <span class="tweak">M</span>anager</h1>
  <div class="options">
    <button type="button" class="option">Add Password</button><br>
    <button type="button" class="option">Access Password</button><br>
    <button type="button" class="option">Manage Password</button><br>
   </div>
</div>


<div id="particles-js"></div>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="{{url_for('static',filename='javascript/particle.js')}}"></script>
</body>
</html>

