
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/homepagestyle.css')}}">
</head>
<body>
    <!-- Move particles container before the content -->

    <div class="container">
        <h1>Welcome to the Password Manager</h1>
        <div class="options-container">
            <div class="options">
                <div class="option">
                  <a href="{{url_for('addpassword')}}">Add Password</a>
                </div>
                <div class="option">
                  <a href="{{url_for('accespassword')}}">Access Password</a>
                </div>
                <div class="option">
                  <a href="{{url_for('managepassword')}}">Manage Password</a>
                </div>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>

    
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{{url_for('static',filename='javascript/particle.js')}}"></script><!-- Footer -->
    <footer class="footer">
            <p>&copy; 2022 Password Manager. All rights reserved.</p>
            <p>Contact: info@passwordmanager.com</p>
    
    </footer>

</body>
</html>

