<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <style>
        .options .option {
            margin-bottom: 10px; /* Add margin between each button */
        }
    </style>
</head>
<body>
   
<div id="container">
  <div class="heading">
  <h1 class="caption"><span class="tweak">P</span>assword <span class="tweak">M</span>anager</h1>
  </div>  <div class="controls">
    <button type="button" class="btn-custom">Add Password</button><br>
    <button type="button" class="btn-custom">Access Password</button><br>
    <button type="button" class="btn-custom">Manage Password</button><br>
   </div>
</div>


<div id="particles-js"></div>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="{{url_for('static',filename='javascript/particle.js')}}"></script>
</body>
</html>
