
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password Manager Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static',filename='css/loginstyle.css')}}">
</head>
<body>
<div class="container">
    <div id="login-box">
        <div class="logo">
            <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
        </div>
        <div class="controls">
            <input type="text" name="username" placeholder="Username" class="form-control" /> <br>
            <input type="text" name="password" placeholder="Password" class="form-control" /> <br>
            <button type="button" id="loginbutton">Login</button> 
            <p id="signup">Don't have an account? <a href="{{url_for('signin')}}">Create one</a></p>
        </div>
    </div>
</div>
<div id="particles-js"></div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="{{url_for('static',filename='javascript/particle.js')}}"></script>
</body>
</html>

